################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Nca.ServiceBus/bin/Debug/netstandard2.0
/Nca.ServiceBus/obj
/Nca.ServiceBus.RabbitMQ/bin/Debug/netstandard2.0
/Nca.ServiceBus.RabbitMQ/obj/Debug/netstandard2.0
/Nca.ServiceBus.InMemory/bin/Debug/netstandard2.0
/Nca.ServiceBus.InMemory/obj/Debug/netstandard2.0
/Nca.ServiceBus.InMemory/obj
/Nca.ServiceBus.RabbitMQ/obj
/Azlogin/bin/Debug/netcoreapp3.1
/Azlogin/obj
/TestMigrationTool/obj
/TestMigrationTool/bin/Debug/netcoreapp3.1
/packages
